<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mafh97.githubfinder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" versionCode="1">
    <name>GitHub Finder</name>
    <description>
       GitHub User Finder example app
    </description>
    <author email="mfigaredo@gmail.com" href="https://github.com/mfigaredo">
        Miguel Figaredo
    </author>
    <content src="index.html" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" />
	<allow-navigation href="*://*.github.com/*" />
    <icon src="Saga_Icon_1024x1024.png" />
	
</widget>
